
// Body
$body-bg: #99a;
$card-bg: #f5f5f5;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.1;


// Spacing
$grid-gutter-width: 6px;

// Colors
$primary: #586992;
//$primary: #013C80; // Keep-IP
$info: #618faa;
//$warning:#FF7E67;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$enable-gradients: true;
$enable-shadows: true;

// Various

// $table-cell-padding:          .5rem !default;
// $table-cell-padding-sm:       .25rem !default;
$table-cell-padding:         .4rem;
$table-cell-padding-sm:      .15rem;

// $list-group-item-padding-y: .75rem !default;
$list-group-item-padding-y: .25rem;
// $list-group-item-padding-x: 1.25rem;
$list-group-item-padding-x: .5rem;

// $dropdown-item-padding-x: 1.5rem !default;
$dropdown-item-padding-x: .5rem;

// $badge-font-weight: $font-weight-bold !default;
$badge-font-weight: font-weight-normal;
