
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans Condensed", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.2;

// Colors
$primary: #586992;
//$info: #8eb4cb;

// Spacing
$grid-gutter-width: 6px;
