
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//@import "/fonts/fonts.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import "~jquery-ui/themes/base/all.css";

// Show/hide elements upon hovering
.hidden-action {
    display: none;
}
.reveal-hidden:hover .hidden-action {
    display: inline-block;
}

// Remove underlines for links (do not apply to classes which have their own behavior)
a:not(.nav-link):not(.btn) {
  text-decoration: none;
}
a:not(.nav-link):not(.btn):hover {
  text-decoration: underline;
}

// Clear all input field formatting for in-place edition fields
.noformat {
    border: none;
    border-radius: 0;
    background: inherit;
    color: inherit;
    padding: 0px;
    height: inherit;
    display: inline;
    box-shadow: none;
}

//jquery-ui to Bootstrap
/* Bootstrap uses a tag in selector and we use a div */
.ui-menu-item-wrapper {
  display: block;
  clear: both;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

/* UI utility class to accessibly hide an input */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* small fix for selectmenu icon */
// .ui-selectmenu-button .ui-icon{
//   float: right;
//   margin-left: .75em;
//   margin-top: 0em;
// }
// .ui-selectmenu-button .caret {
//   margin-top: .6em;
// }
// .ui-menu-item .ui-menu{
//   position: absolute;
// }
// .ui-menu .ui-menu-icon {
//   left: auto;
//   right: 0;
//   position: absolute;
//   top: 50%;
//   margin-top: -8px;
// }
// .ui-selectmenu-menu {
//   display: none;
// }
// .ui-selectmenu-menu.open {
//   display: block;
// }
// .tab-pane {
//   margin-top: 1em;
// }
// .panel-title {
//   display: inline;
// }
// .progress-bar {
//   transition: none;
// }
