
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import "/fonts/fonts.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~jquery-ui/themes/base/theme.css";
@import "~jquery-ui/themes/base/autocomplete.css";
@import "~jquery-ui/themes/base/datepicker.css";
@import "~jquery-ui/themes/base/sortable.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Show/hide elements upon hovering
.hidden-action {
    display: none;
}
.reveal-hidden:hover .hidden-action {
    display: inline-block;
}

// Clear all input field formatting for in-place edition fields
.noformat {
    border: none;
    border-radius: 0;
    background: white;
    color: inherit;
    padding: 0px;
    height: inherit;
    display: inline;
    box-shadow: none;
}
