
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//@import "/fonts/fonts.css";

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Show/hide elements upon hovering
.hidden-action {
    display: none;
}
.reveal-hidden:hover .hidden-action {
    display: inline-block;
}

// Remove underlines for links (do not apply to classes which have their own behavior)
a:not(.nav-link):not(.btn):not(.dropdown-item) {
  text-decoration: none;
}
a:not(.nav-link):not(.btn):not(.dropdown-item):hover {
  text-decoration: underline;
}

// Clear all input field formatting for in-place edition fields
.noformat {
    border: none;
    border-radius: 0;
    background: inherit;
    color: inherit;
    padding: 0px;
    height: inherit;
    display: inline;
    box-shadow: none;
}
