// Import Bootstrap with theme customization
@forward 'bootstrap/scss/bootstrap' with (
  $primary: #0c3f70,
  $info: #618faa,
  
  // Body
  $body-bg: #f8fafc,
  $dropdown-link-hover-bg: #e4e9f0,
  
  // Typography
  $font-family-sans-serif: ('Nunito', sans-serif),
  $font-size-base: 0.8rem,
  $line-height-base: 1.1,

  // Components
  $min-contrast-ratio: 3,
  
  // Popovers
  $popover-header-bg: #618faa,
);

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//@import "/fonts/fonts.css";

// Show/hide elements upon hovering
.hidden-action {
    display: none;
}
.reveal-hidden:hover .hidden-action {
    display: inline-block;
}

// Remove underlines for links (do not apply to classes which have their own behavior)
a:not(.nav-link):not(.btn):not(.dropdown-item) {
  text-decoration: none;
}
a:not(.nav-link):not(.btn):not(.dropdown-item):hover {
  text-decoration: underline;
}

// Clear all input field formatting for in-place edition fields
.noformat {
    border: none;
    border-radius: 0;
    background: inherit;
    color: inherit;
    padding: 0px;
    height: inherit;
    display: inline;
    box-shadow: none;
}
