
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//@import "/fonts/fonts.css";

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Show/hide elements upon hovering
.hidden-action {
    display: none;
}
.reveal-hidden:hover .hidden-action {
    display: inline-block;
}

// Remove underlines for links (do not apply to classes which have their own behavior)
a:not(.nav-link):not(.btn) {
  text-decoration: none;
}
a:not(.nav-link):not(.btn):hover {
  text-decoration: underline;
}

// Clear all input field formatting for in-place edition fields
.noformat {
    border: none;
    border-radius: 0;
    background: inherit;
    color: inherit;
    padding: 0px;
    height: inherit;
    display: inline;
    box-shadow: none;
}

.autocomplete-list {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 9999;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-list .autocomplete-item {
  padding: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.autocomplete-list .autocomplete-item:hover {
  background-color: #e9e9e9;
}
