
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #586992;
$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Open Sans Condensed", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.2;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
//$panel-default-heading-bg: #fff;
$panel-body-padding: 4px;
$panel-heading-padding: 2px 8px;

// Grid
$grid-gutter-width: 8px;

// Input fields (custom). Also affects buttons
$padding-base-vertical: 3px;
$padding-base-horizontal: 6px;
$padding-small-vertical: 2px;
$padding-small-horizontal: 5px;
$padding-large-vertical: 5px;
$padding-large-horizontal: 8px;
