<?php

return [
    'api_key' => env('RENEWR_API_KEY', ''),
    'url' => env('RENEWR_API_URL', 'https://demo-api.renewr.io/api/external/patent/with-renewal-event-and-fees'),
    'skip_done' => true, // Skip already cleared renewals
    'fee_calculation' => [
        'renewr_fee' => env('RENEWR_FEE', 9), // Base fee charged by Renewr per operation
        'our_fee' => env('RENEWR_OUR_FEE', 145), // Our standard service fee
        'threshold' => 1000, // Threshold amount for progressive fee calculation
        'below_percentage' => 0.22, // Percentage applied below threshold
        'above_percentage' => 0.165, // Percentage applied above threshold
        'progressive_factor' => 0.05 / 1000, // Factor for progressive fee calculation
    ],
    // For the demo API
    'jwt_url' => 'https://auth.arkyan.com/realms/renewr-demo/protocol/openid-connect/token',
    'demo_username' => 'user',
    'demo_password' => 'password'
];
