<?php

return [
  "general" => [
    "paginate" => 30,
    // Set to "user" if emails should be sent to the connected user
    "mail_recipient" => "client",
    // Set to 0 to exclude VAT values
    "vat_column" => 1
  ],
  "validity" => [
    "instruct_before" => 30,
    "fee_factor" => 1.2,
    "before" => 8,
    "before_last" => 2
  ],
  "invoice" => [
    // Set to "dolibarr" if you are using Dolibarr for invoices
    "backend" => "none"
  ],
  "api" => [
    'dolibarr_url' => 'http://localhost/dolibarr/htdocs/api/index.php',
    'DOLAPIKEY' => 'your Dolibarr key',
    'fk_account' => 2
  ],
  "xml" => [
    'header' => '<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE batch-payment SYSTEM "batch-payment-v2-00.dtd" >
<batch-payment dtd-version="" date-produced="" ro="">
  <header>
  	<sender>
  		<name>NAME</name>
  		<registered-number></registered-number>
  	</sender>
  	<mode-of-payment payment-type="deposit">
  		<deposit-account>
  			<account-no>DEPOSIT</account-no>
  		</deposit-account>
  	</mode-of-payment>
  	<send-date></send-date>
  	<payment-reference-id>TRANSACTION</payment-reference-id>
  </header>
  <detail>',
    'footer' => '
  </detail>
  <trailer>
  	<batch-pay-total-amount currency="">TOTAL</batch-pay-total-amount>
  	<total-records>COUNT</total-records>
  </trailer>
</batch-payment>',
    'EP_deposit' => 'Your account',
    'FR_deposit' => 'Your account',
  ],
];
